.Expenses {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 56px auto;
}

.Expenses-action-bar-item {
  margin-left: 10px;
}

.Expenses-add-button {
  padding: 12px !important;
  margin-bottom: 4px !important;
}

.bold {
  font-weight: bold;
}

.action {
  color: var(--rs-text-link);
}

.action:hover {
  border-bottom: 1px solid var(--rs-text-link);
  cursor: pointer;
}
